<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Denúncia</title>
    <link rel="stylesheet" href="../static/css/denuncia.css">
</head>
<body>
    <div class="container">
        <h2>Registro de Denúncia</h2>
        <form action="{{ url_for('registrar_denuncia') }}" method="POST">
            <!-- Campo de nome opcional -->
            <label for="nome">Nome (opcional):</label>
            <input type="text" id="nome" name="nome">
            
            <!-- Outros campos do formulário -->
            <label for="tipo_denuncia_id">Tipo de Denúncia:</label>
            <input type="text" id="tipo_denuncia_id" name="tipo_denuncia_id" required>
            
            <label for="denuncia">Denúncia:</label>
            <textarea id="denuncia" name="denuncia" required></textarea>
        
            <label for="data_denuncia">Data:</label>
            <input type="date" id="data_denuncia" name="data_denuncia" required>
        
            <button type="submit">Registrar Denúncia</button>
        </form>
        
        <a href="{{ url_for('minhas_denuncias') }}" class="view-link">Ver andamento das minhas denúncias</a>
    </div>
</body>
</html>

